#content {
    max-height: 100%;
    overflow-y: auto;
    margin-left: 150px;
    margin-right: 70px;
}

#folder_items {
    display: grid; /* Use CSS Grid for layout */
    grid-template-rows: repeat(2, auto); /* Create 2 rows with automatic height */
    grid-auto-flow: column; /* Add new items in columns */
    gap: 20px; /* Add spacing between items */
    padding: 10px; /* Optional: Add padding for spacing */
    margin-left: 60px;
    margin-right: 60px;
    max-height: 300px; /* Set a maximum height for the container */
    overflow-x: scroll; /* Enable horizontal scrolling */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

#file_items {
    max-height: calc(51px * 10); /* Set the maximum height of the container */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 10px; /* Optional: Add padding for spacing */
}

#folder_items.active {
    cursor: grabbing; /* Change cursor to grabbing while scrolling */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Inter', sans-serif;
}

.show {
    display: block;
}

.dropdown-divider {
    margin: 5px 20px; /* Adjust the horizontal margin here (20px is just an example) */
    border: 0;
    border-top: 1px solid #ccc; /* Light gray line */
}

.horizontal-line {
    flex-grow: 1; /* Make the line grow to fill the space */
    height: 2px; /* Thickness of the line */
    background-color: #ccc; /* Line color */
    margin-left: 5px; /* Space between "Folders" and the line */
    margin-right: 5px; /* Space between the line and dropdown button */
}

/***********file items***********/
/* Style the file list container */
.file-list {
    list-style-type: none; /* Remove default bullet points */
    padding: 0;
    margin: 20px 0;
}

/* Style each file item */
.file-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 7px;
    margin-bottom: auto;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Add hover effect for file items */
.file-item:hover {
    background-color: #e6e6e6;
}

/* Style the file icon */
.file-icon img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

/* Style the file details */
.file-details {
    flex: 2;
}

.file-name a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

.file-name a:hover {
    color: black;
}

.file-owner {
    font: "Inter", sans-serif;
    font-size: 0.9em;
    font-weight: 200;
}

/* Style the file metadata */
.file-meta {
    flex: 1;
    text-align: right;
    font: "Inter", sans-serif;
    font-size: 0.9em;
    font-weight: 200;
}

/* Style the action button */
.file-actions {
    margin-left: 15px;
}

.action-button {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #666;
}

.action-button:hover {
    color: #333;
}

