body {
    background: linear-gradient(297deg, #E9F0F5 46.32%, #FFF 90.42%);
    margin: 0;
    padding: 0;
}

/*================================================== ID's */

                                            /* Header */
#header {
    background: #353A56;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
}

#header_nav {
    display: flex;
    gap: 20px;
    margin-right: 5%;
    margin-left: auto;
}
#header_nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    position: relative;
}

#header_nav a:visited {
    color: white;
}

#header_nav a:hover {
    color: lightgray;
}

#header_nav a.active {
    color: lightgray;
}

#header_nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}
#header_nav a:hover::after {
    width: 100%;
}

#header_nav a.active::after {
    width: 100%;
}

#logo {
    width: 150px;
    height: auto;
    margin-left: 100px;
}
#account_icn {
    width: 50px;
    height: auto;
    margin-right: 30px;
}

                                            /* Sidebar */
#sidebar {
    background: #ffffff;
    width: 70px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 2px 0px 18.1px 0px rgba(0, 0, 0, 0.25);
}

#sidebar_icns_grp {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-left: 5%;
    margin-bottom: 50px;
}

#result {
    font-size: 200px;
}

/*================================================== Classes */
.text_white {
    color: white;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    text-align: center;
}
.text_black {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.sidebar_icns {
    width: 35px;
}

.folders {
    width: 257px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 7px;
    background: #F9FBFC;
    box-shadow: -1px 1px 3.2px 0px rgba(0, 0, 0, 0.25);
}

.margin-top {
    margin-top: 5px;
}
/*================================================== Scrollables "Saved"*/

#content h1, h2, h3, h4 {
    margin-bottom: 20px;
    text-align: left;
    font-family: 'Inter', sans-serif;
    color: #000;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    font-size: 2em;
}

/*================================================== Custom Scroll Bars*/

/* Custom Scrollbar for Webkit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    background-color: #f5f5f5; /* Background color of the scrollbar */
}

::-webkit-scrollbar-button {
    display: none; /* Hides the up/down or left/right arrows */
    width: 0;
    height: 0;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
    border-radius: 10px; /* Rounded corners for the track */
}
::-webkit-scrollbar-thumb {
    background-color: #353A56; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #353A56; /* Color of the scrollbar thumb on hover */
}

/* Custom Scrollbar for Firefox */

* {
    scrollbar-width: thin; /* Width of the scrollbar */
    scrollbar-color: #353A56 #f5f5f5; /* Color of the scrollbar thumb and background */
}

.scrollbar-button {
    display: none;
}
/*================================================== Testing ID's*/
