{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}?v=1.0">
    <link rel="stylesheet" href="{% static 'styles/home.css' %}?v=1.0">
</head>
<body>
    <div id="header">
        <img src="{% static 'Images/Account.png' %}" alt="Account">
    </div>
    <div id="sidebar">
        <div id="logo">
            <img src="{% static 'Images/Logo_LandingPage.png' %}" alt="ARC.AI Logo">
            <hr>
        </div>
        <div id="upload">
            <img src="{% static 'Images/PlusIcon.png' %}" alt="ARC.AI Logo">
            <h1>Upload</h1>
        </div>
        <div id="sidebar_cont">
            <div id="navigate">
                <h1>Navigate</h1>
                <a href="#sec4" class="{% if active_page == 'home' %}active{% endif %}">Home</a>
                <a href="{% url 'core:organization' %}" class="{% if active_page == 'organization' %}active{% endif %}">Organization</a>
                <a href="{% url 'core:saved' %}" class="{% if active_page == 'saved' %}active{% endif %}">Files</a>
            </div>
            <div id="settings">
                <h1>Settings</h1>
                <a href="{% url 'core:profilepage' request.user.pk %}" class="{% if active_page == 'profilepage' %}active{% endif %}">Profile</a>
                <a href="{% url 'core:admin_project_page' %}" class="{% if active_page == 'home' %}active{% endif %}">Project Management</a>
            </div>
        </div>
        <form  id="logoutform" method="post" action="{% url 'core:logout' %}" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="logout">
                <img src="{% static 'Images/Logout.png' %}" alt="Logout icon">
                Log out
            </button>
        </form>
    </div>
</body>
</html>