{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}?v=1.0">
    <link rel="stylesheet" href="{% static 'styles/login.css' %}?v=1.0">
</head>
<body>
    <div id="login_cntr">
        <div id="container">
            <div id="form_container">
                <h1 class="titles">Sign In</h1>

                {% for message in messages %}
                <h5 style="color: red;">{{message}}</h5>
                {% endfor %}

                <form id="form" method="post" action="{% url 'core:login' %}">
                    {% csrf_token %}
                    <div id="signin_form">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password" required>
                        </div>
                    </div>
                    <div id="footer">
                        <button id="login_button" type="submit">Login</button>
                        <p>Continue With</p>
                    </div>
                    <div id="social_media">
                        <button class="continue_with_button" type="button" onclick="window.location.href='/register/'">
                            <img class="button_images" src="{% static 'Images/Google.png' %}" alt="Google">
                            <span>Sign in with Google</span>
                        </button>
                        <button class="continue_with_button margin-top" type="button" onclick="window.location.href='/forgot-password/'">
                            <img class="button_images" src="{% static 'Images/Facebook.png' %}" alt="Facebook">
                            <span>Sign in with Facebook</span>
                        </button>
                    </div>
                </form>
                <a class="titles margin-top-50" href="{% url 'core:signup' %}">Sign Up?</a></p>
            </div>
            <div id="logo_container" class="gap">
                <div id="main_logo">
                    <img id="welcome_logo" src="{% static 'Images/welcome_logo.png' %}" alt="Arc.Ai Logo">
                    <h1>ARC.AI</h1>
                    <h2>Hierarchy-Based Online Repository</h2>
                </div>
                <h1>Welcome Back!</h1>
            </div>
        </div>
    </div>
</body>
</html>
