{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organization</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/org.css' %}">
</head>
<body>

    <div id="header">
        <img src="{% static 'Images/Account.png' %}" alt="Account">
    </div>
    <div id="sidebar">
        <div id="logo">
            <img src="{% static 'Images/Logo_LandingPage.png' %}" alt="ARC.AI Logo">
            <hr>
        </div>
        <!-- <div id="upload">
            <img src="{% static 'Images/PlusIcon.png' %}" alt="ARC.AI Logo">
            <h1>Upload</h1>
        </div> -->
        <div id="sidebar_cont">
            <div id="navigate">
                <h1>Navigate</h1>
                <a href="{% url 'core:user_involved_map' %}" class="{% if active_page == 'home' %}active{% endif %}">Home</a>
                <a href="{% url 'core:organization' %}" class="{% if active_page == 'organization' %}active{% endif %}">Organization</a>
                <a href="{% url 'core:saved' %}" class="{% if active_page == 'saved' %}active{% endif %}">Files</a>
            </div>
            <div id="settings">
                <h1>Settings</h1>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'core:profilepage' request.user.pk %}" class="{% if active_page == 'profilepage' %}active{% endif %}">Profile</a>
                {% else %}
                    <a href="{% url 'core:login' %}">Login</a>
                {% endif %}
                {% if request.user.is_staff or request.user.is_superuser %}
                    <a href="{% url 'core:admin_project_page' %}" class="{% if active_page == 'home' %}active{% endif %}">Project Management</a>
                {% endif %}
            </div>
        </div>
        <form  id="logoutform" method="post" action="{% url 'core:logout' %}" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="logout">
                <img src="{% static 'Images/Logout.png' %}" alt="Logout icon">
                Log out
            </button>
        </form>
    </div>
    
    <div id="content">
        <section class="continue-working">
            <div class="header-with-line">
                <h1 class="Title">Continue Working</h1>
                <hr class="divider"/>
            </div>
            {% if top_project %}
            <div class="continue-card">
                <div>
                    <div class="under-image">
                        <img src="{% static 'Images/projunder.png' %}" alt="under image" class="background-image">
                    </div>
                    <div class="project-status-container">  
                        <div class="project-logo">
                            <img src="{% static 'Images/projlogo.png' %}" alt="Project Logo">
                        </div>
                        <div class="FileInfo">
                            <p><strong>{{top_project.name}}</strong></p>
                            <p>Project ID: HR-2024-ONB-{{top_project.project_id}}</p>
                            <p class="space">Start Date: {{top_project.project_start_Date}}</p>
                            <p>Finished Date: {{ top_project.finish_date|default:"-" }}</p>
                            <p class="status1">{{ top_project.project_status }}</p>
                        </div>
                    </div>  
                </div>
                <div class="project-details">
                    <h3>Description</h3>
                    <div class="project-description-container">
                        <p>{{top_project.project_desc}}</p>
                    </div>
                    <h3>Project Manager</h3>
                    <p>{{top_project.project_manager}}
                    <h3>Team</h3>
                    <p>
                        {% with total=top_project.members.count %}
                            {% for member in top_project.members.all %}
                                {% if forloop.counter <= 3 %}
                                    {{ member.member_name }}{% if forloop.counter < 3 and forloop.counter < total %}, {% endif %}
                                {% elif forloop.counter == 4 %}
                                    and {{ total|add:"-3" }} others
                                {% endif %}
                            {% empty %}
                                No members assigned.
                            {% endfor %}
                        {% endwith %}
                    </p>
                    <div class="details-row">
                        <div>
                            <h3>Start Date</h3>
                            <p>{{ top_project.start_date|default:"-" }}</p>
                        </div>
                        <div>
                            <h3>Deadline</h3>
                            <p>{{ top_project.finish_date|default:"-" }}</p>
                        </div>
                        <div>
                            <a class="continue-btn" href="{% url 'core:create_project_details' %}">Create Project</a>
                            <!-- <button class="continue-btn">Continue</button> -->
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <p>No projects available.</p>
            {% endif %}
        </section>
    
        <section class="other-projects">
            <div class="header-with-line">
                <h1 class="Title">Project List</h1>
                <hr class="divider"/>
            </div>
            <div class="card-section">
                <div class="card-container">
                    <!-- Repeat this card as needed -->
                    {% for project in projects %}
                    <!-- Repeat this card as needed -->
                    <div class="project-container">
                        <div class="project-card">  
                            <div class="card-header">
                            <img src="{% static 'Images/icon1.png' %}" alt="icon" />
                            <img src="{% static 'Images/icon2.png' %}" alt="icon" style="filter: brightness(0) invert(1);"  />
                            </div>
                            <div class="card-body">
                            <h3>{{project.name}}</h3>
                            <div class="project-detailscard">

                                <p>{{project.project_id}}</p>
                                <div class="dategroup">
                                <p>{{project.start_date}}</p>
                                <p>{{project.finish_date}}</p>
                                </div>
                            </div>

                            {% if project.project_status == 'Completed' %}
                            <p class="status" style="color: #6AFF3C">{{project.project_status}}</p>
                            {% elif project.project_status == 'Ongoing' %}
                            <p class="status" style="color: orange">{{project.project_status}}</p>
                            {% elif project.project_status == 'Missing' %}
                            <p class="status" style="color: red">{{project.project_status}}</p>
                            {% endif %}

                            </div>
                        </div>
                    </div>
                {% endfor %}
                    <!-- Duplicate above block for more cards -->
                </div>
                </div>
        </section>

        <section class="Schedules">
            <div class="header-with-line">
                <h1 class="Title">Schedules</h1>
                <hr class="divider" />
            </div> 
            <div class="schedule-container">
                <div class="schedule-grid">
                    <div class="days">
                        <p>Monday</p>
                        <p>Tuesday</p>
                        <p>Wednesday</p>
                        <p>Thursday</p>
                        <p>Friday</p>
                        <p>Saturday</p>
                        <p>Sunday</p>
                    </div>

                    <div class="time-labels">
                        <p>1AM</p>
                        <p>2AM</p>
                        <p>3AM</p>
                        <p>4AM</p>
                        <p>5AM</p>
                        <p>6AM</p>
                        <p>7AM</p>
                        <p>8AM</p>
                        <p>9AM</p>
                        <p>10AM</p>
                        <p>11AM</p>
                        <p>12PM</p>
                        <p>1PM</p>
                        <p>2PM</p>
                        <p>3PM</p>
                        <p>4PM</p>
                        <p>5PM</p>
                        <p>6PM</p>
                        <p>7PM</p>
                        <p>8PM</p>
                        <p>9PM</p>
                        <p>10PM</p>
                        <p>11PM</p>
                        <p>12AM</p>
                    </div>

                    <!-- Add this popup element inside the schedule-container -->
                    <div class="popup-wrapper hidden">
                        <div id="popup-overlay"></div> <!-- Colored overlay -->
                        <div id="bar-popup" >
                            <h3 id="popup-title">Worksheet #4</h3>
                            <p id="popup-date">Yesterday, January 29, 2025</p>
                            <p id="popup-description">description</p>
                            <button id="popup-close-btn">Done</button>
                        </div>
                    </div>

                    <div class="time-slots">
                        <div class="schedule-bars">
                        </div>
                    </div>
                </div>
            </div>

            <div class="schedule-navigation">
                <button class="nav-btn" id="prev-week">&lt;</button>
                <p id="week-label">April 1-5</p>
                <button class="nav-btn" id="next-week">&gt;</button>
            </div>
        </section>
    </div> 
    <script src="{% static 'js/org.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
</body>
</html>
