{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form method="post">
    {% csrf_token %}
    <input type="email" name="current_email" placeholder="Current email" value="{{ current_email }}" readonly>
    <br><br>
    <input type="email" name="new_email" placeholder="New email" required>
    <br><br>
    <input type="text" name="current_address" placeholder="Current address" value="{{ current_address }}" readonly>
    <br><br>
    <input type="text" name="new_address" placeholder="New address" required>
    <button type="submit">Update Email and Address</button>

    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    {% if success %}
        <p style="color: green;">{{ success }}</p>
    {% endif %}

</form>

</body>
</html>