{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saved</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}?v=1.0">
    <link rel="stylesheet" href="{% static 'styles/saved.css' %}?v=1.0">
</head>
<body>
    <div id="sidebar">
        <div id="sidebar_content" class="hidden">
            <p><a href="{% url 'core:profilepage' %}">Profile</a></p>
            <p><a href="{% url 'core:home' %}">Home</a></p>
            <p><a href="{% url 'core:organization' %}">Organization</a></p>
            <p><a href="{% url 'core:saved' %}">Saved</a></p>
            <p><a href="{% url 'core:email' %}">Email</a></p>
        </div>
        <hr class="divider_sidebar"/>
    
        <div class="notification_container">
          <!-- Notification Pop-Up -->
            <div id="notification_popup" class="hidden">
              <div id="notification_list">
                  <h2>Notifications</h2>
                  <ul>
                      <li class="notification_item" data-detail="General meeting at 10:30 AM on January 3, 2024, will be held in the main conference room. All employees are expected to attend this important session where key company updates and strategic initiatives for the upcoming year will be discussed.">
                          <p>Schedule Update</p>
                          <span>Yesterday</span>
                      </li>
                      <li class="notification_item" data-detail="Another meeting detail here.">
                          <p>Schedule Update</p>
                          <span>Yesterday</span>
                      </li>
                      <li class="notification_item" data-detail="Another meeting detail here.">
                        <p>Schedule Update</p>
                        <span>Yesterday</span>
                      </li>
                      <li class="notification_item" data-detail="Another meeting detail here.">
                        <p>Schedule Update</p>
                        <span>Yesterday</span>
                      </li>
                  </ul>
              </div>
              <button id="close_notification_popup">Close</button>
          </div>
          <!-- Detailed Notification -->
          <div id="detailed_notification" class="hidden">
              <h2 id="notification_title">Schedule Update</h2>
              <p id="notification_detail"></p>
              <button id="close_detailed_notification">Close</button>
          </div>
        </div>
    
        <div id="sidebar_icns_grp">
            <div class="nav_item">
                <img id="nav_icon" class="sidebar_icns" style="margin-bottom: -6px;" src="{% static 'Images/Navigation.png' %}" alt="Navigate">
                <p>Navigate</p>
            </div>
            <div class="nav_item">
                <img class="sidebar_icns" src="{% static 'Images/Notification.png' %}" alt="Notification">
                <p>Notification</p>
            </div>
            <div class="nav_item">
                <img class="sidebar_icns" src="{% static 'Images/Settings.png' %}" alt="Settings">
                <p>Settings</p>
            </div>
        </div>
    </div>
    
        <div id="header">
            <div>
                <img id="logo" src="{% static 'Images/Logo.png' %}" alt="ARC.AI Logo">
            </div>
            <div id="header_nav" class="text_white">
              <p><a href="{% url 'core:home' %}" class="{% if active_page == 'home' %}active{% endif %}">Home</a></p>
              <p><a href="{% url 'core:organization' %}" class="{% if active_page == 'organization' %}active{% endif %}">Organization</a></p>
              <p><a href="{% url 'core:saved' %}" class="{% if active_page == 'saved' %}active{% endif %}">Saved</a></p>
              <p><a href="{% url 'core:email' %}" class="{% if active_page == 'email' %}active{% endif %}">Email</a></p>
              <p><a href="{% url 'core:profilepage' %}" class="{% if active_page == 'email' %}active{% endif %}">Profile</a></p>
            </div>
            <div>
                <img id="account_icn" src="{% static 'Images/Account.png' %}" alt="Account">
            </div>
        </div>
    <div id="content">
        <h1>Folders</h1>
        <div id="folder_items">
        {% for folder in folders %}
            <p class="folders">{{ folder }}</p>
        {% endfor %}
        </div>
        
        <h2>Files</h2>
        <div id="file_items">
        {% for file in files %}
            <p class="file">{{ file }}</p>
            <hr class="long-line">
        {% endfor %}
        </div>

        <h3>Trash</h3>
        <div id="file_items">
        {% for trash_file in trash %}
            <p class="file">{{ trash_file }}</p>
            <hr class="long-line">
        {% endfor %}
        </div>
    </div>
    <script src="{% static 'js/sidebar.js' %}"></script>
</body>
</html>